.section__four__container {
  box-sizing: border-box;
  margin-top: 118px;
  display: flex;
  position: relative;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__center__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech__text {
  font-size: 66px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.stack__text {
  background: linear-gradient(
    90deg,
    rgb(218, 68, 83, 1) 0%,
    rgb(137, 33, 107, 1) 100%,
    rgb(137, 33, 107, 1) 70%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -25px;
}
