.section__container {
  box-sizing: border-box;
  margin-top: 112px;
  display: flex;
  position: relative;

  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.container__left__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  margin-left: -827px;
  /* margin-left: 62px;
  margin-right: 1220px; */
}

.container__right__section {
  /* width: calc(100% - -614px);
  top: -7px; */
  width: 106%;
  position: absolute;
  display: flex;
  align-items: self-end;
  top: -20px;
  left: 0px;
  height: 105%;
}

.greeting__text {
  background: linear-gradient(
    90deg,
    rgb(25, 199, 142, 1) 0%,

    rgb(60, 156, 229, 1) 100%,
    rgb(60, 156, 229, 1) 110%
  );
  background-clip: text;
  color: transparent;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 32px;
  white-space: nowrap;
}

.name__text {
  font-size: 72px;
  letter-spacing: -2px;
  font-weight: 800;
  max-width: 100%; /* make sure the paragraph scales to fit within the max-width */
  line-height: 80px;
  color: rgba(255, 255, 255, 0.949);
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

.responsive__name__text {
  max-width: 140px;
}

.responsive__lets__design__text {
  display: flex;
  flex-direction: row;
}

.lets__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.design__text {
  background: linear-gradient(
    90deg,
    rgb(25, 199, 142, 1) 0%,

    rgb(60, 156, 229, 1) 120%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-left: 12px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 558px;
}

.button__container {
  margin-top: 28px;
  z-index: 1;
}

.container__3dAnimation {
  width: 110%;
  height: 100%;
}

@media only screen and (max-width: 10000px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: -923px;
    /* margin-left: 62px;
    margin-right: 1220px; */
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 108%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 8000px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: -923px;
    /* margin-left: 62px;
    margin-right: 1220px; */
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 110%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 7000px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: -923px;
    /* margin-left: 62px;
    margin-right: 1220px; */
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 111%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 4000px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: -923px;
    /* margin-left: 62px;
    margin-right: 1220px; */
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 113%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 3000px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 650px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 120%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 2700px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 607px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 120%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 2400px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 429px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 124%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 2100px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 296px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 124%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1800px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 240px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 133%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1600px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 118px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 133%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -50px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1366px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 140%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 1266px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 62px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 140%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 1199px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 62px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 143%;

    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 966px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 42px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 150%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 74px;
    left: 0px;
    height: 85%;
  }
}

@media only screen and (max-width: 866px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 155%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 116px;
    left: 0px;
    height: 60%;
  }
}

@media only screen and (max-width: 766px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .description__text {
    width: calc(100% - 151px);
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 165%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 180px;
    left: 0px;
    height: 40%;
  }
}

@media only screen and (max-width: 666px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .name__text {
    font-size: var(--fz-blg);
  }

  .lets__text {
    font-size: var(--fz-slg);
  }

  .design__text {
    background: linear-gradient(
      90deg,
      rgb(25, 199, 142, 1) 0%,

      rgb(60, 156, 229, 1) 45%
    );
    background-clip: text;

    font-size: var(--fz-slg);

    padding-bottom: 1px;

    width: calc(100% - 159px);
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 99px);
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 165%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 314px;
    left: 0px;
    height: 35%;
  }
}

@media only screen and (max-width: 566px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .name__text {
    font-size: var(--fz-blg);
  }

  .lets__text {
    font-size: var(--fz-slg);
  }

  .design__text {
    font-size: var(--fz-slg);
  }

  .responsive__lets__design__text {
    margin-top: -20px;
  }

  .description__text {
    width: calc(100% - 48px);
    font-size: var(--fz-md);
  }

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 158%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 314px;
    left: 0px;
    height: 35%;
  }
}

@media only screen and (max-width: 490px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .name__text {
    font-size: var(--fz-glg);
    line-height: 60px;
  }

  /* .responsive__lets__design__text {
    display: flex;
    flex-direction: column;
  } */

  .lets__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .design__text {
    font-size: var(--fz-smlg);
    margin-left: 6px;
    letter-spacing: 0.8px;
  }

  .description__text {
    width: calc(100% - 39px);
    font-size: var(--fz-sm);
  }

  /* .responsive__name__text * {
    display: flex;
    flex-direction: column;
    white-space: normal;
  } */

  .container__right__section {
    /* width: calc(100% - -614px);
    top: -7px; */
    width: 150%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 367px;
    left: 0px;
    height: 30%;
  }
}

@media only screen and (max-width: 344px) {
  .section__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .name__text {
    font-size: var(--fz-glg);
    line-height: 40px;
  }

  .responsive__lets__design__text {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-top: 10px;
  }

  .lets__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.4px;
  }

  .design__text {
    background: linear-gradient(
      90deg,
      rgb(25, 199, 142, 1) 0%,

      rgb(60, 156, 229, 1) 65%
    );
    background-clip: text;
    font-size: var(--fz-smlg);
    margin-top: -6px;
    letter-spacing: 0.4px;
    margin-left: 0px;
    width: 150px;
  }

  .description__text {
    font-size: var(--fz-sm);
    width: calc(100% - 34px);
  }

  .responsive__name__text * {
    display: flex;
    flex-direction: column;
    white-space: normal;
  }

  .container__right__section {
    width: calc(50% - -222px);

    position: absolute;

    align-items: self-end;
    top: 615px;
    left: -74px;
    /* top: calc(50% - -293px); */
  }
}

@media only screen and (max-width: 290px) {
  .container__right__section {
    top: 660px;
  }
}

@media only screen and (max-width: 260px) {
  .container__right__section {
    top: 699px;
  }
}

@media only screen and (max-width: 242px) {
  .container__right__section {
    top: 724px;
  }
}

@media only screen and (max-width: 222px) {
  .container__right__section {
    top: 752px;
  }
}

@media only screen and (max-width: 213px) {
  .container__right__section {
    top: 775px;
    left: -92px;
  }
}

@media only screen and (max-width: 205px) {
  .container__right__section {
    top: 802px;
    left: -97px;
  }
}

@media only screen and (max-width: 199px) {
  .container__right__section {
    top: 827px;
    left: -98.5px;
  }
}

@media only screen and (max-width: 191px) {
  .container__right__section {
    top: 852px;
    left: -102.5px;
  }
}

@media only screen and (max-width: 188px) {
  .container__right__section {
    top: 884px;
  }
}

@media only screen and (max-width: 184px) {
  .container__right__section {
    top: 908px;
    left: -104px;
  }
}

/* 
Mobile: 360 x 640.
Mobile: 375 x 667.
Mobile: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tablet: 768 x 1024.
Laptop: 1366 x 768.
High-res laptop or desktop: 1920 x 1080. */
