.section__five__container {
  box-sizing: border-box;
  margin-top: 233px;
  display: flex;
  position: relative;
  width: 100%;
  gap: 7%;
  justify-content: center;
  align-items: center;
}

.container__left__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__improving__visual__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.improving__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.visual__text {
  background: linear-gradient(
    90deg,
    rgb(192, 215, 49, 1) 5%,
    rgb(52, 153, 101, 1) 60%,
    rgb(52, 153, 101, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -22px;
}

.container__description__text {
  margin-top: 43px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 560px;
  margin: 0px;
}

.container__right__section {
  display: flex;
}

.container__images {
  display: flex;
  position: relative;
  top: 44px;
}

.container__images img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .section__five__container {
    box-sizing: border-box;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
  }

  .container__right__section {
    margin-top: 63px;
  }
}

@media only screen and (max-width: 666px) {
  .improving__text {
    font-size: var(--fz-slg);
  }

  .visual__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 0px);
  }
}

@media only screen and (max-width: 490px) {
  .section__five__container {
    margin-top: 140px;
  }

  .improving__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .visual__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .container__left__section {
    width: calc(100% - 0px);
  }

  .container__improving__visual__text h1 {
    white-space: normal;
  }
}

@media only screen and (max-width: 200px) {
  .container__images img {
    width: 100px;
    height: 100px;
  }
}
