.section__one__container {
  box-sizing: border-box;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  justify-content: center;
  align-items: center;
  /* padding-left: 42px;
  padding-right: 42px; */
}

.container__left__section {
  display: flex;

  align-items: center;
}

.container__right__section {
  display: flex;

  align-items: flex-start;
}

.container__code__finder__image__text {
  display: flex;
  flex-direction: row;
  gap: 16px;
  text-align: center;
}

.codefinder__text,
.design__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
  color: #e02c50;
}

.website__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
}

.container__left__right__images {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 190px;
}

.button__container {
  margin-top: 63px;
}

.container__right__section {
  display: flex;
}

.container__images {
  position: relative;
  top: 26px;
}
.container__images img {
  width: 100%;
}
