.hidden {
  opacity: 0;
  transition: opacity 1s;
}

.show {
  opacity: 1;
}

@keyframes loader-container-fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes home-container-fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
