.container {
  display: flex;
  flex-direction: column;
  /* gap: 5%; */
  align-items: center;
  justify-content: center;

  padding: 10%;
  height: 100vh;
  margin-top: 112px;
  /* max-width: 800px; */
}

.container__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 35%;

  /* 
  max-height: 100%; */
  animation: floatAnimation 3s ease-in-out infinite;
}

.container__text {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: 40px;
}

.container__button {
  margin: 40px;
}

.number {
  font-size: var(--fz-xlg);
  letter-spacing: -2px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    rgb(25, 199, 142, 1) 0%,

    rgb(60, 156, 229, 1) 100%,
    rgb(60, 156, 229, 1) 110%
  );
  background-clip: text;
  color: transparent;
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

.text {
  font-size: var(--fz-slg);
  letter-spacing: -2px;
  font-weight: 800;

  color: rgba(255, 255, 255, 0.949);
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.item {
  width: 80%;
}

@media only screen and (max-width: 966px) {
  .item {
    max-width: 60%;
  }
  .number {
    font-size: var(--fz-slg);
  }

  .text {
    font-size: var(--fz-glg);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .item {
    width: 60%;
  }
  /* .number {
    font-size: var(--fz-glg);
  }

  .text {
    font-size: var(--fz-lg);
  } */
}

@media (max-width: 480px) {
  .item {
    width: 50%;
  }
}

@media (max-width: 340px) {
  .item {
    width: 30%;
  }
}
