.container {
  display: flex;
  flex-direction: column;
  /* gap: 5%; */
  align-items: center;
  justify-content: center;

  padding: 10%;
  height: 100vh;
  margin-top: 124px;
  /* max-width: 800px; */
}

.container__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 35%; */

  /* 
  max-height: 100%; */
  animation: floatAnimation 3s ease-in-out infinite;
}

.container__text {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: 40px;
  margin-top: 44px;
}

.container__button {
  margin: 49px;
}

.number {
  font-size: var(--fz-xlg);
  letter-spacing: -2px;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    rgb(25, 199, 142, 1) 0%,

    rgb(60, 156, 229, 1) 100%,
    rgb(60, 156, 229, 1) 110%
  );
  background-clip: text;
  color: transparent;
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

.text {
  font-size: var(--fz-slg);
  letter-spacing: -2px;
  font-weight: 800;

  color: rgba(255, 255, 255, 0.949);
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.item {
  width: 70%;
}

@media only screen and (max-width: 1266px) {
  /* .container {
    margin-top: 94px;
  } */
}

@media only screen and (max-width: 966px) {
  .number {
    font-size: var(--fz-slg);
  }

  .text {
    font-size: var(--fz-glg);
  }
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .container {
    margin-top: 164px;
  }
  .number {
    font-size: var(--fz-glg);
  }

  .text {
    font-size: var(--fz-smlg);
  }
}

@media only screen and (max-width: 640px) {
  .container {
    margin-top: 168px;
  }
  .container__svg svg {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 566px) {
  .container {
    margin-top: 170px;
  }
}

@media only screen and (max-width: 490px) {
  .container {
    margin-top: 190px;
  }
}

@media only screen and (max-width: 344px) {
  .container {
    margin-top: 210px;
  }
}

@media only screen and (max-width: 270px) {
  .number {
    font-size: var(--fz-smlg);
  }

  .text {
    font-size: var(--fz-lg);
  }

  .container__svg svg {
    width: 150px;
    height: 150px;
  }
}

/* @media (max-width: 480px) {
  .item {
    width: 40%;
  }
}

@media (max-width: 340px) {
  .item {
    width: 20%;
  }
} */
