.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  min-height: 100vh;
  margin-top: 18px;
}

.container__svg {
  animation: floatAnimation 3s ease-in-out infinite;
}

.container__text {
  gap: 2%;
  margin: 40px 0;
  margin-top: 44px;
}

.container__button {
  margin: 49px;
}

.number,
.text {
  font-size: var(--fz-slg);
  letter-spacing: -2px;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

.number {
  background: linear-gradient(
    90deg,
    rgb(25, 199, 142, 1) 0%,
    rgb(60, 156, 229, 1) 100%,
    rgb(60, 156, 229, 1) 110%
  );
  background-clip: text;
  color: transparent;
}

.text {
  color: rgba(255, 255, 255, 0.949);
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.item {
  width: 70%;
}

/* Responsive styles */
@media only screen and (max-width: 966px) {
  .number {
    font-size: var(--fz-slg);
  }

  .text {
    font-size: var(--fz-glg);
  }
}

@media only screen and (max-width: 768px) {
  .number {
    font-size: var(--fz-glg);
  }

  .text {
    font-size: var(--fz-smlg);
  }
}

@media only screen and (max-width: 640px) {
  .container__svg svg {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 270px) {
  .number {
    font-size: var(--fz-smlg);
  }

  .text {
    font-size: var(--fz-lg);
  }

  .container__svg svg {
    width: 150px;
    height: 150px;
  }
}
