.section__four__container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 202px;
  gap: 2.2%;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__left__section {
  /* margin-left: 273px; */
}

.container__kanji__section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  width: 581px;
  padding-right: 38px;
}

.container__right__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 112px;
}

.about__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.me__text {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    180deg,
    rgb(25, 199, 142) 0%,
    rgb(60.24, 156.34, 229.5) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -25px;
}

.description__text {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 581px;
}

@media only screen and (max-width: 10000px) {
  .section__four__container {
    gap: 4%;
  }

  .container__kanji__section {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 8000px) {
  .section__four__container {
    gap: 4%;
  }
}

@media only screen and (max-width: 7000px) {
  .section__four__container {
    gap: 6%;
  }
}

@media only screen and (max-width: 4000px) {
  .section__four__container {
    gap: 10%;
  }
}

@media only screen and (max-width: 3000px) {
  .section__four__container {
    gap: 11%;
  }
}

@media only screen and (max-width: 2700px) {
  .section__four__container {
    gap: 7%;
  }

  .container__kanji__section {
    width: 509px;
  }
}

@media only screen and (max-width: 2400px) {
  .section__four__container {
    gap: 14%;
  }
}

@media only screen and (max-width: 2100px) {
  .section__four__container {
    gap: 12%;
  }

  .container__kanji__section {
    width: 470px;
  }
}

@media only screen and (max-width: 1800px) {
  .section__four__container {
    gap: 10%;
  }
}

@media only screen and (max-width: 1600px) {
  .section__four__container {
    gap: 13%;
  }
}

@media only screen and (max-width: 1366px) {
  .section__four__container {
    gap: 10%;
  }

  .container__kanji__section {
    width: 450px;
  }
}

@media only screen and (max-width: 1266px) {
  .section__four__container {
    gap: 6%;
  }
}

@media only screen and (max-width: 1199px) {
  .section__four__container {
    box-sizing: border-box;
    display: flex;

    position: relative;
    margin: 0px;
    margin-left: -62px;
    width: 100%;

    justify-content: flex-end;
    align-items: center;
  }

  .container__kanji__section {
    display: none;
  }

  .responsive__container__kanji__section {
    display: flex;
    justify-content: center;

    margin-top: 196px;
  }

  .container__right__section {
    margin-top: 68px;
  }
}

@media only screen and (max-width: 966px) {
  .section__four__container {
    margin-left: -42px;
  }

  .responsive__container__kanji__section {
    margin-top: 166px;
  }

  .responsive__container__left__section img {
    width: 32%;
    height: 32%;
    /* margin-right: 10px; */
  }
}

@media only screen and (max-width: 866px) {
  .section__four__container {
    margin-left: -32px;
  }
}

@media only screen and (max-width: 766px) {
  .description__text {
    width: calc(100% - 4px);
    padding-left: 124px;
  }
}

@media only screen and (max-width: 666px) {
  .about__text {
    font-size: var(--fz-slg);
  }

  .me__text {
    font-size: var(--fz-slg);
  }

  .description__text {
    font-size: var(--fz-md);
    padding-left: 113px;
  }
}

@media only screen and (max-width: 566px) {
  .description__text {
    padding-left: 44px;
  }
}

@media only screen and (max-width: 490px) {
  .description__text {
    padding-left: 40px;
  }

  .about__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .me__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .description__text {
    padding-left: 40px;
  }

  .about__text {
    letter-spacing: 0.4px;
  }

  .me__text {
    margin-top: -6px;
    letter-spacing: 0.4px;
    margin-left: 0px;
  }

  .description__text {
  }
}
