.section__four__container {
  box-sizing: border-box;
  display: flex;
  position: relative;
  margin-top: 202px;
  gap: 2.2%;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__left__section {
  /* margin-left: 273px; */
}

.container__kanji__section {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  width: 581px;
  padding-right: 38px;
}

.container__right__section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 112px;
}

.about__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.me__text {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(
    180deg,
    rgb(25, 199, 142) 0%,
    rgb(60.24, 156.34, 229.5) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -25px;
}

.description__text {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 581px;
}

@media only screen and (max-width: 10000px) {
  .section__four__container {
    gap: 4%;
  }

  .container__kanji__section {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (max-width: 8000px) {
  .section__four__container {
    gap: 4%;
  }
}

@media only screen and (max-width: 7000px) {
  .section__four__container {
    gap: 6%;
  }
}

@media only screen and (max-width: 4000px) {
  .section__four__container {
    gap: 8%;
  }
}

@media only screen and (max-width: 3000px) {
  .section__four__container {
    gap: 10.5%;
  }
}

@media only screen and (max-width: 2700px) {
  .section__four__container {
    gap: 11%;
  }

  .container__kanji__section {
    width: 509px;
  }
}

@media only screen and (max-width: 2400px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 429px;
  }

  .container__skills__section {
    max-width: 750px;
    display: flex;

    flex-direction: column;
    margin-left: 1064px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 137%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 2100px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 296px;
  }

  .container__skills__section {
    max-width: 730px;
    display: flex;

    flex-direction: column;
    margin-left: 935px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 143%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1800px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 240px;
  }

  .container__skills__section {
    max-width: 570px;
    display: flex;

    flex-direction: column;
    margin-left: 878px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 145.6%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1600px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 118px;
  }

  .container__skills__section {
    max-width: 540px;
    display: flex;

    flex-direction: column;
    margin-left: 760px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 147.8%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -50px;
    left: 0px;
    height: 110%;
  }
}

@media only screen and (max-width: 1366px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 90px;
  }

  .container__skills__section {
    max-width: 490px;
    display: flex;

    flex-direction: column;
    margin-left: 723px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 155%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: -20px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 1266px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 62px;
  }

  .container__skills__section {
    max-width: 434px;
    display: flex;

    flex-direction: column;
    margin-left: 692px;
  }

  .responsive__marquee {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 156%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 8px;
    left: 0px;
    height: 95%;
  }
}

@media only screen and (max-width: 1199px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 112px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 62px;
  }

  .container__skills__section {
    display: none;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 62px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 100%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 1.3px;
    height: 105%;
  }
}

@media only screen and (max-width: 966px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 42px;
  }

  .container__skills__section {
    display: none;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 42px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 100%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 866px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .container__skills__section {
    display: none;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 100%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 766px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .container__skills__section {
    display: none;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .description__text {
    width: calc(100% - 151px);
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; */
    width: 103%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 0px;
    height: 105%;
  }
}

@media only screen and (max-width: 666px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .skills__text {
    font-size: var(--fz-slg);
  }

  .expertise__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 99px);
  }

  .container__skills__section {
    display: none;
  }

  .container__right__section {
    /* width: 106%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 0px;
    height: 105%; */
    display: none;
  }
}

@media only screen and (max-width: 566px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .skills__text {
    font-size: var(--fz-slg);
  }

  .expertise__text {
    font-size: var(--fz-slg);
  }

  .description__text {
    width: calc(100% - 48px);

    font-size: var(--fz-md);
  }

  .container__skills__section {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px; 
    width: 102%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 543px;
    left: 0px;
    height: 105%;*/
    display: none;
  }
}

@media only screen and (max-width: 490px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 80px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .responsive__marquee {
    display: flex;

    flex-direction: column;
    margin: 32px;
  }

  .skills__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .expertise__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    width: calc(100% - 39px);
    font-size: var(--fz-sm);
  }

  .container__skills__section {
    display: none;
  }

  .container__right__section {
    /* width: calc(100% - -614px);
      top: -7px;
    width: 120%;
    position: absolute;
    display: flex;
    align-items: self-end;
    top: 402px;
    left: 0px;
    height: 30%;*/
    display: none;
  }
}

@media only screen and (max-width: 344px) {
  .section__two__container {
    box-sizing: border-box;
    margin-top: 245px;
    display: flex;
    position: relative;

    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }

  .container__left__section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    margin-left: 32px;
  }

  .responsive__marquee {
    display: contents;

    /* flex-direction: column; */
  }

  .responsive__skills__expertise__text {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    margin-top: 10px;
  }

  .skills__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.4px;
  }

  .expertise__text {
    font-size: var(--fz-smlg);
    margin-top: -6px;
    letter-spacing: 0.4px;
    margin-left: 0px;
  }

  .description__text {
    width: calc(100% - 34px);
    font-size: var(--fz-sm);
  }

  .container__skills__section {
    display: none;
  }

  .container__right__section {
    /* width: calc(50% - -222px);

    position: absolute;

    align-items: self-end;
    top: 808px;
    left: -74px; */
    display: none;
  }
}
