.section__five__container {
  box-sizing: border-box;
  margin-top: 106px;
  display: flex;
  position: relative;
  width: 100%;
  gap: 10.2%;
  justify-content: center;
  align-items: center;
  padding-left: 42px;
  padding-right: 42px;
}

.container__left__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__refining__the__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.refining__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
}

.the__text {
  background: linear-gradient(
    90deg,
    rgb(49, 148, 239, 1) 100%,
    rgb(49, 148, 239, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
  margin-top: -12px;
}

.container__description__text {
  margin-top: 63px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 564px;
  margin: 0px;
}

.button__container {
  margin-top: 63px;
}

.container__right__section {
  display: flex;
}

.container__images {
  position: relative;
  top: 26px;
}

.container__images img {
  width: 100%;
}

@media only screen and (max-width: 1266px) {
}

@media only screen and (max-width: 1199px) {
  .section__five__container {
    box-sizing: border-box;
    margin-top: 162px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
  }

  .container__right__section {
    margin-top: 62px;
  }
}

@media only screen and (max-width: 966px) {
}

@media only screen and (max-width: 866px) {
}

@media only screen and (max-width: 766px) {
}

@media only screen and (max-width: 666px) {
  .refining__text {
    font-size: var(--fz-slg);
  }

  .the__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 0px);
  }
}

@media only screen and (max-width: 566px) {
}

@media only screen and (max-width: 490px) {
  .section__three__container {
    margin-top: 140px;
  }

  .refining__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .the__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }

  .project__vision__image {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (max-width: 344px) {
  .container__left__section {
    width: calc(100% - 0px);
  }

  .container__refining__the__text h1 {
    white-space: normal;
  }

  .project__vision__image {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 200px) {
  .container__images img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 180px) {
  .description__text {
    padding-left: 42px;
    padding-right: 42px;
  }

  .project__vision__image {
    padding-left: 0px;
    padding-right: 0px;
  }
}
