.section__one__container {
  box-sizing: border-box;
  margin-top: 88px;
  display: flex;
  position: relative;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__center__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__dimage__place__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  /* margin-bottom: 68px; */
}

.container__image {
  margin-top: -30px;
}

.place__text {
  font-size: var(--fz-xlg);
}

.description__text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--fz-md);
  font-weight: 400;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 226px;
  width: 568px;
  margin: 0px;
}

.button__container {
  margin-top: 60px;
}

@media only screen and (max-width: 666px) {
  .container__image img {
    width: 120px;
    height: 120px;
  }

  .place__text {
    font-size: var(--fz-slg);
  }

  .description__text {
    font-size: var(--fz-md);
    padding-left: 42px;
    padding-right: 42px;
    width: calc(100% - 0px);
  }
}

@media only screen and (max-width: 566px) {
}

@media only screen and (max-width: 490px) {
  .container__image img {
    width: 90px;
    height: 90px;
  }

  .place__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .skills__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.4px;
  }
}

@media only screen and (max-width: 244px) {
  .container__image {
    margin-top: -8px;
  }

  .container__image img {
    width: 60px;
    height: 60px;
  }
}
