.hamburguer__react {
  position: fixed;
  outline: none;
}

.show__hamburger__menu {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hide__hamburguer__menu {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  top: -100px;
}
