.section__two__container {
  box-sizing: border-box;
  margin-top: 118px;
  display: flex;
  position: relative;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__center__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.some__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.features__text {
  background: linear-gradient(
    180deg,
    rgb(25, 199, 142) 0%,
    rgb(60.24, 156.34, 229.5) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -25px;
}

.description__text {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--fz-md);
  list-style: inside;
  font-weight: 400;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 226px;
  width: 564px;
  margin: 0px;
}
