.section__three__container {
  box-sizing: border-box;
  margin-top: 118px;
  display: flex;
  position: relative;
  width: 100%;

  justify-content: center;
  align-items: center;
}

.container__center__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.some__text {
  font-size: 66px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.features__text {
  background: linear-gradient(
    90deg,
    rgb(218, 68, 83, 1) 0%,
    rgb(137, 33, 107, 1) 100%,
    rgb(137, 33, 107, 1) 70%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -25px;
}

.container__description__text {
}

.description__text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--fz-md);
  list-style: inside;
  font-weight: 400;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 226px;
  width: 564px;
  margin: 0px;
  padding: 0px;
  margin-top: 54px;
}

.container__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 118px;
  column-gap: 13.9%;
  padding-left: 42px;
  padding-right: 42px;
}

.images__right {
  margin-top: 0%;
}

@media only screen and (max-width: 1266px) {
  .container__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 118px;
  }

  .images__right {
    margin-top: 13.9%;
  }
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 966px) {
  /* .images__left img {
    width: 100%;
    height: 100%;
  }

  .images__right img {
    width: 100%;
    height: 100%;
  } */
}

@media only screen and (max-width: 866px) {
}

@media only screen and (max-width: 766px) {
}

@media only screen and (max-width: 666px) {
  .images__left img {
    width: 100%;
    height: 100%;
  }

  .images__right img {
    width: 100%;
    height: 100%;
  }

  .some__text {
    font-size: var(--fz-slg);
  }

  .features__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    padding-left: 42px;
    padding-right: 42px;
    width: calc(100% - 0px);
  }
}

@media only screen and (max-width: 566px) {
}

@media only screen and (max-width: 490px) {
  .some__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .features__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .somes__text {
    letter-spacing: 0.4px;
  }

  .features__text {
    margin-top: -6px;
    letter-spacing: 0.4px;
    margin-left: 0px;
  }
}
