.section__seven__container {
  box-sizing: border-box;
  margin-top: 223px;
  display: flex;
  position: relative;
  width: 100%;
  gap: 8%;
  justify-content: center;
  align-items: center;
}

.container__left__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__conslusion__design__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.conclusion__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.design__text {
  background: linear-gradient(
    90deg,
    rgb(192, 215, 49, 1) 5%,
    rgb(52, 153, 101, 1) 60%,
    rgb(52, 153, 101, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-top: -22px;
}

.container__description__text {
  margin-top: 63px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 560px;
  margin: 0px;
}

.container__right__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 26px;
}

.container__images {
  position: relative;
  top: 40px;
}

.container__images img {
  width: 100%;
}

@media only screen and (max-width: 1266px) {
  .conslusion__design__image {
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .section__seven__container {
    box-sizing: border-box;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
  }

  .container__right__section {
    margin-top: 62px;
  }

  .conslusion__design__image {
    width: 100%;
  }
}

@media only screen and (max-width: 966px) {
}

@media only screen and (max-width: 866px) {
}

@media only screen and (max-width: 766px) {
}

@media only screen and (max-width: 666px) {
  .conclusion__text {
    font-size: var(--fz-slg);
  }

  .design__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 0px);
  }

  .container__images {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 566px) {
  .container__right__section {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 490px) {
  .section__seven__container {
    margin-top: 140px;
  }

  .conclusion__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .design__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .container__left__section {
    width: calc(100% - 0px);
  }

  .container__conslusion__design__text h1 {
    white-space: normal;
  }

  .container__images {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 180px) {
  .container__images img {
    width: 100px;
    height: 100px;
  }
}
