.container__right__section {
  width: calc(100% - -614px);
  top: -7px;
  position: absolute;
  overflow-x: hidden;

  height: 90%;

  box-sizing: border-box;
}

/* @media only screen and (max-width: 1000px) {
  .container__right__section {
    width: calc(100% - -550px);
    top: -7px;
    position: absolute;
    overflow-x: hidden;
    height: 50%;
    box-sizing: border-box;
  } */

/* width: calc(100% - -614px);
top: 1px;
position: absolute;
overflow-x: hidden;
height: 45%;
box-sizing: border-box; */
