.section__container {
  box-sizing: border-box;
  margin-top: 112px;
  display: flex;
  position: relative;
  /* margin-left: 62px; */
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.container__left__section {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  margin-left: 62px;
  margin-right: 1220px;
}

.container__right__section {
  /* width: calc(100% - -614px);
  top: -7px; */
  width: 100%;
  position: absolute;
  top: -86px;
  left: 250px;
  height: 105%;
}

.greeting__text {
  background: linear-gradient(
    180deg,
    rgb(25, 199, 142) 0%,
    rgb(60.24, 156.34, 229.5) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 32px;
  white-space: nowrap;
}

.name__text {
  font-size: 72px;
  letter-spacing: -2px;
  font-weight: 800;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.949);
  font-style: normal;
  margin: 0;
  white-space: nowrap;
}

.lets__design__container {
  display: flex;
  flex-direction: row;
}

.lets__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
}

.design__text {
  background: linear-gradient(
    180deg,
    rgb(25, 199, 142) 0%,
    rgb(60.24, 156.34, 229.5) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: 1.2px;
  white-space: nowrap;
  margin: 0;
  margin-left: 12px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 527px;
}

.button__container {
  margin-top: 28px;
  z-index: 1;
}

.container__3dAnimation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: contents;
  /* position: absolute; */
  /* height: 100vh; 
  width: 100%; */
  padding-right: 180px;
  /* background-color: #eee; */
  /* margin-left: 62px;
  margin-right: 62px; */
}

/* 
@media only screen and (min-width: 1024px) {
 

} */
