.section__six__container {
  box-sizing: border-box;
  margin-top: 188px;
  display: flex;
  position: relative;
  width: 100%;
  gap: 6.5%;
  justify-content: center;
  align-items: center;
  padding-left: 42px;
  padding-right: 42px;
}

.container__left__section {
  display: flex;
}

.container__last__the__text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.last__text {
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
}

.the__text {
  background: linear-gradient(
    90deg,
    rgb(224, 44, 80, 1) 60%,
    rgb(224, 44, 80, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-size: 66px;
  font-weight: 600;
  letter-spacing: -1px;
  white-space: nowrap;
  margin: 0;
  margin-top: -22px;
}

.container__description__text {
  margin-top: 63px;
}

.description__text {
  font-size: 18px;
  color: #f9f9f9;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 144px;
  width: 505px;
  margin: 0px;
}

.button__container {
  margin-top: 108px;
  display: flex;
  justify-content: center;
}

.container__right__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__images img {
  width: 100%;
}

@media only screen and (max-width: 1199px) {
  .section__six__container {
    box-sizing: border-box;
    margin-top: 136px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-left: 42px;
    padding-right: 42px;
  }

  .container__left__section {
    margin-top: 52px;
  }

  .last__thoughts__image {
    width: 100%;
  }
}

@media only screen and (max-width: 666px) {
  .last__text {
    font-size: var(--fz-slg);
  }

  .the__text {
    font-size: var(--fz-slg);
    margin-top: -20px;
  }

  .description__text {
    font-size: var(--fz-md);
    width: calc(100% - 0px);
  }

  .container__images {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and (max-width: 566px) {
  .container__right__section {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 490px) {
  .last__text {
    font-size: var(--fz-smlg);
    letter-spacing: 0.8px;
  }

  .the__text {
    font-size: var(--fz-smlg);
    margin-top: -12px;
    letter-spacing: 0.8px;
  }

  .description__text {
    font-size: var(--fz-sm);
  }
}

@media only screen and (max-width: 344px) {
  .container__left__section {
    width: calc(100% - 0px);
  }

  .container__last__the__text h1 {
    white-space: normal;
  }

  .container__images {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 180px) {
  .description__text {
    padding-left: 42px;
    padding-right: 42px;
  }

  .button__container {
    white-space: nowrap;
  }

  .container__images img {
    width: 100px;
    height: 100px;
  }
}
