.item {
  width: 56%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .item {
    width: 46%;
  }
}

@media (max-width: 480px) {
  .item {
    width: 36%;
  }
}

@media (max-width: 340px) {
  .item {
    width: 26%;
  }
}
