@import url("https://fonts.googleapis.com/css?family=Overlock:400,700,900");

/* Define your font sizes for small and large screens */
:root {
  --fz-sm: 18px;
  --fz-md: 16px;
  --fz-lg: 20px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  font-family: "Overlock", cursive;
  background-color: #0d1217;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.main__container {
  margin: 0 auto;
  padding: 0 auto;
  height: 100vh;
}

.line__left {
  height: 5286px;
  object-fit: cover;
  width: 1px;
  margin-left: 134px;
}

.line__right {
  height: 5286px;
  object-fit: cover;
  width: 1px;
  margin-left: 1169px;
}

.right-to-left-enter {
  transform: translateX(100%);
}
.right-to-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.right-to-left-exit {
  transform: translateX(0);
  opacity: 1;
}
.right-to-left-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

#hamburguer-hook {
  display: none;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, transparent, transparent);
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #038d87, #038d87);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #038d87, #038d87);
}

@media only screen and (max-width: 860px) {
  .container__hamburguerMenu {
    display: flex;
    position: fixed;

    /* bottom: 0px; */
    right: 0px;

    width: min(75vw, 138.5px);
    height: 100vh;

    z-index: 6;
  }

  #hamburguer-hook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 62px;
    margin-right: 28px;
    height: 80px;

    right: 0;

    z-index: 6;
  }

  .show__hamburger__menu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .hide__hamburguer__menu {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    top: -100px;
  }

  @keyframes slide-down {
    100% {
      transform: translateY(10%);
    }
  }
}
