@import url("https://fonts.googleapis.com/css?family=Overlock:400,700,900");

body {
  font-family: "Overlock", cursive;
  background-color: #0d1217;
}

.main__container {
  margin: 0 auto;
  padding: 0 auto;
}

.line__left {
  height: 5286px;
  object-fit: cover;
  width: 1px;
  margin-left: 134px;
}

.line__right {
  height: 5286px;
  object-fit: cover;
  width: 1px;
  margin-left: 1169px;
}
