.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  padding: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 80px;
  z-index: 7;
  box-shadow: 0 0 10px rgba(24, 28, 32, 1);
  background-color: #191d21;
  transition: transform 0.3s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__label__input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__input__button {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

label {
  display: flex;
  justify-content: center;
  font-size: var(--fz-lg);
  letter-spacing: 0.1px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: var(--fz-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #038d87;
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 760px) {
  .card {
    padding: 60px;
  }
  .container__label__input {
    gap: 15px;
  }

  .container__input__button {
    gap: 30px;
  }

  label {
    font-size: var(--fz-md);
  }

  input {
    font-size: var(--fz-sm);
  }

  .button__container {
    margin-top: 8px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding: 50px;
  }

  .card {
    padding: 40px;
  }

  .container__label__input {
    gap: 10px;
  }

  .container__input__button {
    gap: 20px;
  }

  label {
    padding: 5px 10px;
    font-size: var(--fz-sm);
  }

  input {
    font-size: var(--fz-xs);
  }

  .button__container {
    margin-top: 6px;
  }
}

@media screen and (max-width: 376px) {
  .card {
    padding: 40px;
  }

  .container__label__input {
    gap: 10px;
  }

  .container__input__button {
    gap: 10px;
  }

  label {
    font-size: var(--fz-sm);
  }

  input {
    font-size: var(--fz-sm);
  }

  .button__container {
    margin-top: 6px;
  }
}

@media screen and (max-width: 260px) {
  .card {
    padding: 20px;
  }
}

@media screen and (max-width: 204px) {
}
