.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 80px;
  z-index: 7;
  box-shadow: 0 0 10px rgba(24, 28, 32, 1);
  background-color: #191d21;
  transition: transform 0.3s ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__label__input {
  display: flex;

  align-items: center;
  position: relative;
  flex-direction: column;
  gap: 20px;
}

.container__input__button {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

label {
  display: flex;
  justify-content: center;
  font-size: var(--fz-lg);
  letter-spacing: 0.1px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 10px 15px;
  padding-right: 40px;
  border: none;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: var(--fz-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #038d87;
}

.container__input__eye {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.container__icon {
  position: absolute;
  right: 4px;
  top: 65px;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.close__icon {
  position: absolute;
  top: 16px;
  right: 14px;
  cursor: pointer;
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.button {
  font-family: "Overlock", cursive;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  width: 138px;
  height: 48px;
  color: #fff;
  opacity: 0.95;
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(90deg, #19c78e, #3c9ce5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #191d21 inset;
}

.button__light {
  box-shadow: 2px 1000px 1px #191d21 inset;
}

.button:hover,
.button__light:hover {
  background-color: transparent;
  color: #19c78e;
}

.error {
  margin: 0px;
  padding: 0px;
  color: #c4483f;
}

/* Media queries for responsiveness */
@media screen and (max-width: 766px) {
  .container__icon {
    top: 56px;
  }
}

@media screen and (max-width: 760px) {
  .card {
    padding: 60px;
  }
  .container__label__input {
    gap: 15px;
  }

  .container__input__button {
    gap: 30px;
  }

  label {
    font-size: var(--fz-md);
  }

  input {
    font-size: var(--fz-sm);
  }

  .container__icon {
    top: 56px;
  }

  .button__container {
    margin-top: 8px;
  }
}

@media screen and (max-width: 566px) {
  .container__icon {
    top: 59px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    padding: 50px;
  }

  .card {
    padding: 40px;
  }

  .container__label__input {
    gap: 10px;
  }

  .container__input__button {
    gap: 20px;
  }

  label {
    padding: 5px 10px;
    font-size: var(--fz-sm);
  }

  input {
    font-size: var(--fz-xs);
  }

  .button__container {
    margin-top: 6px;
  }
}

@media screen and (max-width: 376px) {
  .card {
    padding: 40px;
  }

  .container__label__input {
    gap: 10px;
  }

  .container__input__button {
    gap: 10px;
  }

  label {
    font-size: var(--fz-sm);
  }

  input {
    font-size: var(--fz-sm);
  }

  .button__container {
    margin-top: 6px;
  }
}

@media screen and (max-width: 260px) {
  .card {
    padding: 20px;
  }
}

@media screen and (max-width: 204px) {
}
